<section id="match_img_2" class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column"></div>
        <div class="column">
          <h1 class="title has-text-white has-text-centered">Locales</h1>
          <div  class="box">
            <div id="size_fixed" class="container">
              <table class="table">
                <tbody>
                  <% @locals.each do |local| %>
                    <tr>
                      <td> <%= local.nombre %> </td>
                      <td> <%= link_to "Ver detalles", local_path(local.id), class:"button is-primary" %> </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
          <button id="buttonuser" class="button">
            <%= link_to "Volver a la pagina principal", root_path %>
          </button>
        </div>
        <div class="column"></div>
      </div>
    </div>
  </div>
</section>