<h1>Hola ayudante!</h1>

<p>ELlos dos son mis dos ídolos:</p>



<%= image_tag("images_rodo/messi.jpeg", width: "600px", height: "300px") %>
<%= image_tag("images_rodo/luisito.jpg", width: "400px", height: "300px") %>

<p>Y ella es mi ap:</p>

<%= image_tag("images_rodo/ester.jpg", width: "600px", height: "300px") %>



