<section id="default_img" class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-black">
        Bienvenido
      </h1>
      <h2 class="subtitle has-text-black">
        ¿Estas listo para encontrar el amor?
      </h2>
    </div>
  </div>
</section>