  <p> Bienvenido </p>
  <p> Este es el portal del local <%= current_local.nombre %> </p>
  <p>
    <%= link_to "Ver las reviews", reviews_index_path(local_id: current_local.id) %>
  </p>
  <p>
    <%= link_to "Editar Local", edit_local_registration_path %>
  </p>
  <p>
    <%= link_to "Cerrar Sesión", destroy_local_session_path, method: :delete %>
  </p>