  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container">
      <p> Bienvenido </p>
      <p> Este es el portal del local <%= current_local.nombre %> </p>
      <p>
        <%= link_to "Ver las reviews", reviews_index_path(local_id: current_local.id) %>
      </p>       
      </div>
    </div>
  </section>