<p> Bienvenido </p>
    <p> Este es el portal del local <%= current_local.nombre %> </p>
    <p>
        <%= link_to "Ver las reviews", reviews_index_path %>
    </p>
    <p>
        <%= link_to "Edit Local", edit_local_registration_path %>
    </p>
    <p>
        <%= link_to "Sign Out", destroy_local_session_path, method: :delete %>
    </p>