<section id="user_img" class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
        <h1 class="title has-text-white">
        Aquí podrás encontrar tu cita ideal.
        </h1>
        <button id="buttonuser" class="button is-large">
            <%= link_to "Ver el listado de usuarios", users_index_path, class:"has-text-black" %>
        </button>
        <button id="buttonuser" class="button has-text-black is-large">
            <%= link_to "Ver tus posibles matches y matches", matches_show_especial_path, class:"has-text-black" %>
        </button>
    </div>
  </div>
</section>