<section id="match_img" class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column"></div>
        <div class="column">
          <h1 class="title has-text-white has-text-centered">Lista de comunas</h1>
          <div  class="box">
            <div id="size_fixed" class="container">
              <table class="table">
                <thead>
                  <tr>
                    <th>Nombre de la comuna</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <% @comunas.each do |comuna| %>
                    <tr>
                      <td> <%= comuna.nombre %> </td>
                      <td> <%= link_to "Ver detalles", comuna_path(comuna.id) %> </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
          <button id="buttonuser" class="button">
            <%= link_to "Volver a la pagina principal", root_path %>
          </button>
          <% if current_admin %>
            <button id="buttonuser" class="button">
              <%= link_to "Crear nueva nomuna", comunas_new_path %>
            </button>
          <% end %>
        </div>
        <div class="column"></div>
      </div>
    </div>
  </div>
</section>